<h1> <%= @ingredient.name %> </h1>
<% if @ingredient.quantity_available %>
<h4><%= @ingredient.quantity_available %> <%= @ingredient.quantity_units %> on hand </h4>
<% end %>
<br>
<form action="/ingredient/<%= @ingredient.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="quantity_available">Quantity</label>
  <input type="number" name="quantity">
  <label for="quantity_units">Units</label>
  <input type="text" name="units">
  <br>
  <br>
  <button type="submit" class="btn btn-info">Add Quantitiy</button>
</form>
<br>
<form action="/ingredient/<%= @ingredient.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete ingredient</button>
</form>
<br>
<form action="/" method="get">
  <button type="submit" class="btn btn-success">Go back to main page</button>
</form>
