<% require ('pry') %>

<h1> <%= @recipe.name %></h1>

<br>
<div class="inline-block">
  <% if @recipe.tags%>
    <% @recipe.tags.each do |tag| %>
      <h4><i><%= tag.name %></i></h4>
    <% end %>
  <% end %>
</div>
<%if @recipe.combos%>
  <h3>Ingredients</h3>
  <ul>
    <% @recipe.combos.each() do |combo|%>
      <% @recipe.ingredients.each() do |ingredient| %>
        <% if ingredient.id == combo.ingredient_id %>
          <li>
            <% if combo.quantity_required() %>
              <%=ingredient.name() + ", " + combo.quantity_required().to_s + " " + combo.quantity_units() %>
            <% else %>
              <%= ingredient.name() %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
<h3>Instructions:</h3>
<br>
<% if @recipe.instructions %>
  <p>
    <%= @recipe.instructions %>
  </p>
<% end %>

<form action="/recipe/edit/<%= @recipe.id() %>" method="get">
  <button type="submit" class="btn btn-primary">Edit your recipe</button>
</form>
<br>
<form action="/" method="get">
  <button type="submit" class="btn btn-success">Go back to main page</button>
</form>
